.Rproj.user
.Rhistory
.RData
.Ruserdata
credentials.txt
jonah.portal.iac.Rproj
usefel TF commands.txt
README.html
TODO.txt
Terraform/.terraform.lock.hcl
Terraform/.terraform/
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
